body {
    overflow: hidden;
}

.cursor {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 0, 0.85);
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
}

.cursor-fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        background-color: orange;
        opacity: 0;
    }
}