

#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: clamp(1rem, 5.5vw ,2.5rem);
    font-weight: bold;

    &::after{
        content: "";
        display: inline-block;
        width: 15px;
        height: 1em;
        margin-left: 2px;
        vertical-align: text-bottom;
        animation-name: blink;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
    }
}

@keyframes blink {
    from {
        opacity: 1;
        background-color: black;
    }

    25% {
        background-color: blue;
    }

    80% {
        opacity: 0;
    }
}